<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="./../css/main.css">
<link rel="stylesheet" href="./../css/products.css">
</head>
<body>
<%- include('../includes/navigation.ejs') %>
<main>
    <% if(products && products.length > 0){ %>
        <div class="grid">
            <% products.forEach(product => { %>
                <article class="card product-item">
                    <header class="card__header">
                        <h1 class="product-title"><%= product.title %></h1>
                    </header>
                    <div class="card-image">
                        <img src="<%= product.imageUrl %>"
                             alt="<%= product.title %>">
                    </div>
                    <div class="card-content">
                        <h2 class="product-price"><%= product.price %> $</h2>
                        <p class="product-description"><%= product.description %></p>
                    </div>
                    <div class="card-actions">
                        <button class="btn">
                            <a href="/admin/edit-product/<%= product.id
                            %>?edit=true">edit</a></button>
                        <form action="/admin/delete-product" method='post'>
                            <input type="hidden" value="<%= product.id %>" name="productId">
                            <button class="btn" type="submit">delete</button>
                        </form>
                    </div>
                </article>
            <% }) %>
        </div>
    <% }else{ %>
        <h1>no prod</h1>
    <% } %>
</main>

<%- include('../includes/end.ejs') %>
