<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="./../css/main.css">
</head>
<body>
<%- include('../includes/navigation.ejs') %>
<% if (cartProducts.length > 0){ %>
    <ul>
        <% cartProducts.forEach(p=>{ %>
            <li><p><%= p.title %>(<%= p.cartItem.quantity %>)</p>
                <p>total price is <%= p.price %></p>
                <form action="/cart-delete-item" method="post">
                    <input type="hidden" value="<%= p.id %>" name="productId">
                    <button class="btn" type="submit">Delete</button>
                </form>
            </li>
        <% }) %>
    </ul>
    <div class="grid">
        <form action="/create-order" method="post">
            <button type="submit" class="btn">Buy</button>
        </form>
    </div>

<% }else { %>
    <h1>no products in the cart</h1>
<% } %>

<%- include('../includes/end.ejs') %>
